#box{
	background-color: rgba(29, 94, 198, 0.3);
	border-top: 4px solid #1d5ec6;
	margin: 0px 10px;
}
#addSL{
	background-color: rgba(29, 94, 198, 0.5);
}
#addSL:hover{
	background-color: rgba(29, 94, 198, 0.6);
}
.btn{
	margin: 10px;
	box-shadow: none;
}
#swimlanes{
	display: flex;
	float: left;
	margin-left: 4px;
}
.SL{
	background-color: #dedede;
	border-radius: 7px;
	border: 3px solid gray;
	min-height: 100px;
	width: 300px;
	padding: 10px;
}
#title{
	font-family: sans-serif;
	letter-spacing: 1px;
	display: flex;
	flex-wrap: wrap;
}
.cardBox{
	background-color: #9fc2f9;
	border-radius: 5px;
	border: 3px solid #4286f4;
	min-height: 90px;
	padding: 10px;
	margin-bottom: 5px;
}